header {
    background-color: rgb(110, 180, 180);
    color: black;
    border: 15px rgb(175, 199, 191) solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: medium;
    text-decoration: none;
}

header h1 {
    color: blanchedalmond;
    text-align: center;
    font-weight: bolder;
}

nav {
    background-color: brown;
    color: bisque;
    border: 10px darkred solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200px;
    font: 200px;
    text-decoration: none;
    font-style: normal;
}

#intro {
    background-color: rgb(105, 126, 119);
    color: blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 10px brown solid;
    border-radius: 2px;
    font-weight: 150px;
    text-decoration: none;
}

#intro h2 {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Main-Section {
    background-color: bisque;
    color: brown;
    border: 10px rgb(202, 174, 174) solid;
    border-radius: 2 px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer {
     background-color: bisque;
     color: brown;
}