header {
    background-color: dark blueviolet;
    color: black;
    font-size: 10px;
    font-weight: bold;
    font: Arial;
    text-align: center;
    text-decoration: none;
    border: 10px solid rgb(202, 150, 150);
}

nav {
    background-color: rgb(146, 109, 180);
    color: black;
    font-size: 18px;
    font-weight: bold;
    font: Arial;
    text-decoration: none;
    border: 10px solid rgb(165, 86, 86);
}

nav li a {
    background-color: rgb(146, 109, 180);
    color: black;
    font-style: normal;
}

nav li {
    list-style-type: none;
}

#intro {
    background-color: rgb(119, 103, 133);
    color: black;
    font-size: 18px;
    font-weight: bold;
    font: Arial;
    text-decoration: none;
    border: 10px solid rgb(165, 86, 86);
}

#intro h2 {
    text-align: center;
}

#intro h1 {
    background-color: rgb(82, 79, 85);
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    border: 10px solid rgb(165, 86, 86);
}

#intro p {
    text-align: center;
}

.main-section-content {
    background-color: rgb(157, 158, 207);
    color: black;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    border: 15px solid rgb(165, 86, 86);
}

#Best-Sellers {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 15px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    border: 15px solid rgb(165, 86, 86);
}

#Teachers-Section {
    background-color: rgb(204, 139, 139);
    color: black;
    font-size: 15px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    border: 15px solid rgb(165, 86, 86);
}

#Teachers-Section h3 {
    background-color: rgb(204, 139, 139);
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-style :normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    border: 10px solid rgb(165, 86, 86);
}

#Book-Review {
    background-color: rgb(160, 95, 95);
    color: black;
    font-size: 15px;
    font-weight: 200;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    border: 15px solid rgb(165, 86, 86);
}

#relative-videos {
    background-color: rgb(67, 182, 176);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 200;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    border: 15px solid rgb(165, 86, 86);
}

#Best-Sellers {
    background-color: rgb(172, 101, 101);
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    border: 10px solid rgb(165, 86, 86);
}

footer {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 15px;
    font-weight: 100;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    border: 10px solid rgb(180, 169, 169);
}